[submodule "monica"]
	path = monica
	url = git@github.com:LuminousPath/helm-monica.git
[submodule "huginn"]
	path = huginn
	url = git@github.com:LuminousPath/helm-huginn.git
[submodule "riot-im"]
	path = riot-im
	url = git@github.com:LuminousPath/helm-riot-im.git
[submodule "synapse"]
	path = synapse
	url = git@github.com:LuminousPath/helm-synapse.git
[submodule "firefly-iii"]
	path = firefly-iii
	url = git@github.com:LuminousPath/helm-firefly-iii.git
[submodule "akaunting"]
	path = akaunting
	url = git@github.com:LuminousPath/helm-akaunting.git
[submodule "prometheus"]
	path = prometheus
	url = git@github.com:LuminousPath/helm-prometheus.git
[submodule "traefik"]
	path = traefik
	url = git@github.com:LuminousPath/helm-traefik.git
[submodule "tinytinyrss"]
	path = tinytinyrss
	url = git@github.com:LuminousPath/helm-tinytinyrss.git
[submodule "freshrss"]
	path = freshrss
	url = git@github.com:LuminousPath/helm-freshrss.git
[submodule "helm-foundrtyvtt"]
	path = foundryvtt
	url = git@github.com:LuminousPath/helm-foundrtyvtt.git
[submodule "matrix"]
	path = matrix
	url = git@github.com:LuminousPath/matrix-chart.git
[submodule "nextcloud"]
	path = nextcloud
	url = git@github.com:LuminousPath/helm-nextcloud.git
